{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Purchasing System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            se0001 - Seller
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Create Quotation
        </p>
        <p>
            View Quotation
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            s0001 - Staff
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Select Quotation
        </p>
        <p>
            View Quotation
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            f0001 - Finance
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            View Selected Quotations
        </p>
        <p>
            Generate Purchase Order
        </p>
        <p>
            View Purchase Order
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            m0001 - Manager
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            View Purchase Order Report
        </p>
        <p>
            View Quotation Report
        </p>
    </div>
</div>

{% endblock %}
